h4 {
  margin:20px 0 10px 30px;
  font-weight: 600;
}

.count-number{
    color:red;
}

/* 상품 카드들을 감싸는 영역 */
.product-grid {
  width: 100%;                
  text-align: center;         
  padding: 20px 30px;
  box-sizing: border-box;
  font-size:0;
}

/* 각 상품 카드 */
.product-card {
  display: inline-block;       
  width: 150px;                 
  margin: 10px 8px;                
  background-color: #f5f9f8;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  vertical-align: top;
  overflow: hidden;
  font-size:14px;
}

/* 상품 이미지 */
.product-card img {
  width: 100%;
  height: 130px;      
  border-radius: 6px;
  margin-bottom: 10px;
}

/* 글자 관련 설정 */
.product-card p {
  margin: 5px 0;
  font-size: 14px;
}

.product-card strong {
  font-size: 15px;
}
