h4 {
  margin:20px 0 10px 30px;
  font-weight: 600;
}

.count-number{
    color:red;
}

/* 상품 카드들을 감싸는 영역 */
.product-grid {
  width: 100%;                
  text-align: center;         
  padding: 20px 30px;
  box-sizing: border-box;
  font-size:0;
}

/* 각 상품 카드 */
.product-card {
  display: inline-block;       
  width: 220px;                 
  margin: 15px;                
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 12px;
  vertical-align: top;
  overflow: hidden;
  font-size:14px;
  box-sizing: border-box;
}

.product-card:hover{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* 그림자 추가 */
}

/* 상품 이미지 */
.product-card img {
  width: 100%;
  height: 150px;      
  border-radius: 10px;
  margin-bottom: 10px;
}

/* 글자 관련 설정 */
.product-card p {
  margin: 5px 0;
  font-size: 14px;
}

.product-card strong {
  font-size: 15px;
}

/* 버튼 영역 */
.product-buttons {
  margin-top: 8px;
  text-align: center; /* 버튼을 카드 중앙에 정렬 */
}

/* 버튼 스타일 */
.detail-btn, .like-btn {
  display: inline-block; 
  padding: 5px 8px;     
  border: 1px solid black; 
  background-color: #f5f9f8; 
  color: black;           
  border-radius: 4px;    
  font-size: 12px;        
  margin: 0 5px;          
  text-decoration: none;  
}

/* 페이지네이션 스타일 */
.page-wrap {
  text-align: center;
  margin-top: 0px;
}
.page-nation ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.page-nation li {
  display: inline-block;
  margin: 0 5px;
}
.page-nation a {
  text-decoration: none;
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #333;
  background-color: #fafafa;
}
.page-nation a.active {
  background-color: #333;
  color: white;
  font-weight: bold;
  border-color:#333
}
.page-nation a:hover {
  background-color: #e0e0e0;
}
