{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
<h1>리뷰 상세보기</h1>

<div class="detail-content-area">

    <div class="detail-image-box">
        <img src="{{ url_for('static', filename=review.image) }}" alt="리뷰 이미지" class="review-detail-img">
    </div>

    <div class="detail-info-box">
        <p><strong>상품명:</strong> {{ review.product_name }}</p>
        <p><strong>리뷰 제목:</strong> {{ review.title }}</p>

        <p><strong>별점:</strong> <span class="rating-stars">
                {% set rating_int = review.rating | int %}
                {% for i in range(5) %}
                {% if i < rating_int %} ★ {% else %} ☆ {% endif %} {% endfor %} </span>
        </p>

        <p class="review-writer"><strong>작성자:</strong> {{ review['review-id'] }}</p>

        <p><strong>리뷰 내용:</strong></p>
        <div class="detail-content-box"> {{ review.content }}
        </div>
    </div>
</div>

{% endblock %}