{% extends "index.html" %}

{% block title %}상품 전체 조회{% endblock %}

{% block content %}
<div class="container">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/feature-list.css') }}">

  <h4 id="totalCount">
    전체 상품 조회 결과: <span class="count-number">{{ total }}</span>개
  </h4>

  <!--condition 필터 UI 추가 -->
<div class="filter-box">
    <label for="condition">상품 상태:</label>
    <select id="condition" onchange="location=this.value">
        <option value="{{ url_for('feature_list', page=0, condition='all') }}"
            {% if condition == 'all' %}selected{% endif %}>전체</option>

        <option value="{{ url_for('feature_list', page=0, condition='new') }}"
            {% if condition == 'new' %}selected{% endif %}>새상품</option>

        <option value="{{ url_for('feature_list', page=0, condition='used') }}"
            {% if condition == 'used' %}selected{% endif %}>중고</option>
    </select>
</div>

  <div class="product-grid" id="productContainer">
    {% for p in products %}
      <div class="product-card" data-id="{{loop.index}}">
        {% if p.image.startswith('http://') or p.image.startswith('https://') %}
          <img src="{{ p.image }}" alt="{{ p.name }}">
        {% else %}
          <img src="{{ url_for('static', filename=p.image) }}" alt="{{ p.name }}">
        {% endif %}
        <p><strong>{{ p.name }}</strong></p>
        <p>₩{{ "{:,}".format(p.price) }}</p>
        <div class="product-buttons">
            <a href="{{ url_for('product_detail', product_id=p.item_id) }}" class="detail-btn">상세 페이지</a>
            <button class="like-btn" data-item-id="{{ p.item_id }}">찜하기</button>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>

  <div class="pagination">

    {% if page > 0 %}
        <a href="{{ url_for('feature_list', page=page-1, condition=condition) }}" class="page-link">≪ 이전</a>
    {% endif %}

    {% for p in range(page_count) %}
        {% if p == page %}
            <span class="page-current">{{ p + 1 }}</span>
        {% else %}
            <a href="{{ url_for('feature_list', page=p, condition=condition) }}" class="page-link">{{ p + 1 }}</a>
        {% endif %}
    {% endfor %}

    {% if page < page_count - 1 %}
        <a href="{{ url_for('feature_list', page=page+1, condition=condition) }}" class="page-link">다음 ≫</a>
    {% endif %}

  </div>


  <script>
  const wishedItems = JSON.parse('{{ wished_item_ids | tojson | safe }}');
  </script>

  </script>


  <script src="{{ url_for('static', filename='js/feature-list.js') }}"></script>
</div>

{% endblock %}
