<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
</head>
<body>
<header>
  <div class="header-top">
    <div class = "search">
    <a>Ctrl+Z : EWHA MARKET PLACE</a>
    
      </div>


    <div class="auth-buttons">
      <button class="login-btn" onclick="location.href='{{ url_for('login') }}'">로그인</button>
      <button class="signup-btn" onclick="location.href='{{ url_for('signup') }}'">회원가입</button>
    </div>
  </div>

  <div class="header-bottom">
    <nav class="nav-menu">
      <ul>
        <li><a href="{{ url_for('index') }}">홈</a></li>
        <li><a href="{{ url_for('feature_list') }}">상품 전체보기</a></li>
        <li><a href="{{ url_for('review_list') }}">리뷰 전체보기</a></li>
        <li><a href="{{ url_for('product_register') }}">상품 등록하기</a></li>
        <li><a href="{{ url_for('review_register') }}">리뷰 등록하기</a></li>
      </ul>
    </nav>

    <button class="cart-btn" onclick="location.href='{{ url_for('wishlist') }}'">
      <img src="{{ url_for('static', filename='img/Shopping-bag.svg') }}" alt="장바구니" />
    </button>
  </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>


<footer>

  <div class="footer-bottom">
    <nav class="footer-menu">
    <ul>
      <li><a href="{{ url_for('index') }}">홈</a></li>
      <li><a href="{{ url_for('feature_list') }}">상품 전체보기</a></li>
      <li><a href="{{ url_for('review_list') }}">리뷰 전체보기</a></li>
      <li><a href="{{ url_for('product_register') }}">상품 등록하기</a></li>
      <li><a href="{{ url_for('review_register') }}">리뷰 등록하기</a></li>
    </ul>
    </nav>
  </div>

  <p class="footer-copy">© Copyright 2025 - Ctrl+Z</p>
</footer>


</body>
</html>





