{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wishlist.css') }}">

<div class="wishlist-page">
  <h1>찜한 상품</h1>

  <div class="wishlist-grid">
    {% for w in items %}
      <div class="wishlist-item" id="item-{{ w.item_id }}">
        <img src="{{ w.item_img }}" alt="{{ w.item_name }}">
        <div class="item-info">
          <p class="item-name">{{ w.item_name }}</p>
          <p class="item-price">{{ w.item_price }}원</p>
        </div>
        <button class="wishlist-btn wished" 
                onclick="toggleWishlist('{{ w.item_id }}', this)">
          <img src="{{ url_for('static', filename='img/heart.svg') }}" alt="찜">
        </button>
      </div>
    {% else %}
      <p>찜한 상품이 없습니다😢</p>
    {% endfor %}
  </div>
</div>

{% endblock content %}
